.container {}

.triggerButton {
  cursor: pointer;
  display: flex;
  align-items: center;

  border: none;
  background: none;
}

.title {
  font-size: 2.5rem;
  margin-right: 5rem;
}

.indicator {
  font-size: 2rem;
}

.content {
  font-size: 1.7rem;
  padding: 1rem;
}
